* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  outline: none;
  border: none;
}

body {
  background: white;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 18vw;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.header .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.header .sidebar .profile img {
  width: 110px;
  border-radius: 25%;
  margin: 5 5 5 5;
}

.header .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.header .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 20px;
  position: relative;
  align-items: center;
}

.header .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.header .sidebar ul li a .item {
  padding-left: 30px;
}

.header .sidebar ul li a:hover,
.header .sidebar ul li a.active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.header .sidebar ul li a:hover .icon,
.header .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.header .sidebar ul li a:hover:before,
.header .sidebar ul li a.active:before {
  display: block;
}

/*---------------CREATE HOME SECTION---------------------*/

.home {
  display: flex;
  width: 80vw;
  margin-left: 16vw;
  padding-top: 10vw;
}

.home h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home span {
  color: #0c7db1;
}
.home-detail h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin: -3px 0;
  opacity: 1;
  color: #0c7db1;
}

.home-detail p {
  font-size: 1.6rem;
  opacity: 1;
}

.home-detail h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2.8rem;
  margin-top: 40px;
  margin-right: 10px;
  border-radius: 40px;
  color: #fff;
  background: rgb(5, 68, 104);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  outline: none;
}

.btn:hover {
  background: white;
  color: #0c7db1;
}

/*---------------CREATE ABOUT SECTION---------------------*/

#about {
  padding: 40px 0px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 5%;
}
.about-col-2 {
  flex-basis: 70%;
}

.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #0c7db1;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 5px;
  background: #0c7db1;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 75%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  line-height: 50px;
  font-size: 30px;
}

.tab-contents ul li span {
  color: #0c7db1;
  font-size: 40px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*---------------CREATE SKILLS SECTION---------------------*/
.skill {
  width: 82vw;
  margin-left: 18vw;
  padding-top: 40px;
  background: #222;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.container .progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container .progress h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10 rem;
  z-index: 1;
  font-weight: 500;
}

.container .progress h3 span {
  font-size: 0.65em;
  font-weight: 400;
}

.container .progress h4 {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.container .progress::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: #222;
}

.container .progress::before {
  background: var(--clr);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.container .progress.less::before {
  background: #444;
  transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}

/*---------------CREATE PROJECT SECTION---------------------*/

.project {
  width: 80vw;
  margin-left: 18vw;
  padding-top: 40px;
}

.sub-title {
  padding-bottom: 20px;
  margin-top: 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 300px;
}

.work img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), #0c7db1);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/*---------------CREATE CONTACT SECTION---------------------*/

.contact {
  width: 80vw;
  margin-left: 18vw;
  padding-top: 40px;
}

.sub-title {
  padding-bottom: 5px;
  margin-top: 0;
}

.cont {
  display: inline-block;
  padding: 20px 50px 40px 50px;
}
.cont img {
  height: 100px;
  width: 100x;
}

.cont:hover {
  transform: scale(1.2);
}
